# Binance (User Needs to fill)
BINANCE_API_KEY=X2lKfsJF7Z16QWKUXUcWk22YMBL21RELGrJ97OKILGWJXSo4K6TuwAjyIFj5MCaG
BINANCE_API_SECRET=nkDHlVbu3bvSMRntXXziiJJPU1BdYQcJUw88XR1zpZuUMYBSnGsLDa4nNYeNZH4b

# Binance Testnet (For Forward Testing)
USE_TESTNET=True
BINANCE_TESTNET_API_KEY=your_testnet_api_key
BINANCE_TESTNET_API_SECRET=your_testnet_api_secret


# Supabase PostgreSQL
DB_USER=postgres.uvqhpiilmameyjortqoc
DB_PASSWORD=zuzuba3314!!
DB_HOST=aws-1-ap-southeast-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres

# KakaoTalk REST API Token
KAKAO_ACCESS_TOKEN=your_kakao_access_token
KAKAO_REFRESH_TOKEN=your_kakao_refresh_token
KAKAO_REST_API_KEY=your_kakao_rest_api_key

# Global Parameters
K_VALUE=0.5
RISK_PERCENTAGE=0.10
LEVERAGE=3
